.container_con {
  background: transparent;
  padding: 40px;

}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    margin-top: 40px;
    width: 88%;
}

.button:hover {
  opacity: 0.9;
}

.fontwhite {
  color: white;
}

.howlong {
  background-color: white;
  width: 90%;
}
