.container_con {
  background: transparent;
  padding: 40px;

}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    margin-top: 20px;
    width: 85%;
}

.button:hover {
  opacity: 0.9;
}

.label {
  color: white;
  font-size: 90%;
}

.howlong {
  background-color: white;
}
