.detail_header {
  font-family: monospace;
  margin-bottom: 30px;
  font-size: 40px;
  margin-bottom: 20px;
}

.contentdetail {
  margin-top: 20px;
}

/* trip detail */
.planboxx{
  width: 40%;
  min-width: 200px;
  height: auto;
  min-height: 400px;
  background-color: white;
  margin: auto;
  display: inline-block;
  padding: 5px;
  text-align: center;
  margin: 3px;
}

.planboxx .day{
  font-family: monospace;
  font-size: 20px;
  margin-bottom: 2%;
  background-color: #008ca8;
  color: white;
  border-radius: 6px;
  padding: 5px;
}
.buttongap {
  margin-bottom: 20px;
}

/*review*/

.review-size{
  width: 70%;
}
.commentbox{
  width: 100%;
  background-color: pink;
  height: auto;
  padding: 4px;
  border-bottom: 1px solid #ddd;
}
.. commentbox .username{
  text-align: left;
}
.comment{
  text-align: left;
}
.imggap {
  padding-top: 3px;
}
