
.homebg1 {
  padding: 60px;
  background-image: url("/app/img/HKM_0353.jpg");
  background-size: 100% 100%;
  opacity: 0.9;
  background-color: #FAFAFA;

}

.transparentBg {
  background: white;


}

.photo {

}

.photo img {
  width: 100%;
  float: left;
  opacity: 0.9;
  border-radius: 5px;
}


.photo:hover {
  opacity: 0.8;
  cursor: pointer;

}


.box {
  display: inline-block;
  background: white;
  width: 80%;
  height: 1.5px;
  margin-bottom: 30px;
  position: absolute;
  bottom: 0px;
  left: 20px;
}

.title {
  color: #565656;
  font-size: 40px;
  font-family: monospace;
  margin-bottom: 20px;
  margin-top: 60px;

}

.bottomleft1 {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 16px;
    color: white;
}
.bottomleft2 {
    position: absolute;
    bottom: 12px;
    left: 20px;
    font-size: 14px;
    color: white;
}
