

.myboxtrip {
  display: inline-block;
  background: white;
  width: 80%;
  height: 1.5px;
  margin-bottom: 85px;
  position: absolute;
  bottom: 0px;
  left: 20px;
}


.mybottomlefttrip1 {
    position: absolute;
    bottom: 85px;
    left: 20px;
    font-size: 16px;
    color: white;
}

.mybottomlefttrip2 {
    position: absolute;
    bottom: 67px;
    left: 20px;
    font-size: 14px;
    color: white;
}
