.photoo {
  width: 98%;
  height: auto;
  margin: auto;
  position: relative;
  margin-bottom: 5px;
}

.photoo img {
    width: 32%;
    margin-left: 5px;
    margin-top: 10px;
}

.textbox {
  position: absolute;
  top: 40%;
  width: 98%;
  height: 70px;
  color: white;
  font-size: 50px;
  font-family: monospace;
  opacity: 0;
  text-align: center;
}

.national {
  position: absolute;
  top: 40%;
  left: 33%;
}
.temple {
  position: absolute;
  top: 40%;
  left: 42%;
}
.beach {
  position: absolute;
  top: 40%;
  left: 43%;
}

.safari {
  position: absolute;
  top: 40%;
  left: 43%;
}

.market {
  position: absolute;
  top: 40%;
  left: 41%;
}

.museum {
  position: absolute;
  top: 40%;
  left: 41%;
}

.photoo:hover .textbox{
  opacity: 1;
  cursor: pointer;
}

.photoo:hover img {
  opacity: 0.7;
  cursor: pointer;
}
