.stepone {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
.step-bottom {
  margin-top: 20px;
  margin-bottom: 40px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 6px;
  color: white;
  text-align: center;
}
/* step two */
.steptwosub {
  font-size: 16px;
  padding-bottom: 25px;
  border: 1px solid #ddd;
  border-radius: 5px;

}
.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}
.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.blue    { background-color: #3b8ec2; }

/* step three */
.stepthree_day {
  width: 60%;
  background-color: #eff0f1; /*light grey*/
  height: auto;
  float: left;
}
.planbox{
  width: 40%;
  min-width: 200px;
  height: auto;
  min-height: 400px;
  background-color: #eff0f1;
  margin: auto;
  display: inline-block;
  padding: 5px;
  text-align: center;
  margin: 3px;
}
.planboxright{
  width: 99%;
  min-width: 200px;
  height: auto;
  min-height: 400px;
  background-color: #eff0f1;
  margin: auto;
  display: inline-block;
  text-align: center;
  margin: 3px;
}

.planbox .day{
  font-family: monospace;
  font-size: 16px;
  margin-bottom: 2%;
  background-color: #008ca8;
  color: white;
  border-radius: 6px;
  padding: 5px;
}
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

.stepthree_select {
  width: 35%;
  min-width: 300px;
  margin-left: 3%;
  height: auto;
  float: right;
  text-align: center;
  font-size: 11px;
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: #008ca8;
}
.stepthree_select .where {
  font-family: monospace;
  font-size: 16px;
  margin-bottom: 2%;
  background-color: #008ca8;
  color: white;
  border-radius: 6px;
  padding: 5px;
  margin: 5px;
}
.stepthree_select .nav {
 padding: 5px;
}
.stepthree_select ul {
  padding: 0;
}

.buttonplan {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 6px;
  color: white;
  text-align: center;
  margin-right: 10;
}
.buttonplan:hover {
  opacity: 0.8;
}
.between {
  width: 100%;
  height: 45px;
  padding-left: 5px;
  border-bottom: 1px solid #ddd;

}
.between .form {
  float: left;
  width: 70%;

}
.dragbox {
  width: 100%;
  height: 60px;
  background-color: white;
  border-color: #F9F8F6;
  padding-top: 4px;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
}
.dragbox:hover {
 cursor: move;
}

.searchbox {
  width: 100%;
  height: auto;
  background-color: grey;
  list-style: none;
}

/*step 4*/
 .step4_header {
  font-family: monospace;
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.overall {
  width: 75%;
 /*light grey*/
  height: auto;
  min-height: 300px;
  margin: auto;
 }
 .right {
   float: right;
 }
