.title2 h2 {
  font-family: monospace;
  margin-left: 12px;

}

.tripgap {
  margin-bottom: 30px;
}

.footergap {
  margin-bottom: 40px;
  margin-top: 20px;
}

.dropdown {
  margin-top: 15px;
}

  .soflow{
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png);
   background-position: 90% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   white-space: nowrap;
   width: 100px;
}
