.title2 {
  font-family: monospace;
  font-size: 40px;
  margin: 0 ;
  margin-bottom: 10px;

}

.tripgap {
  margin-bottom: 30px;
}

.footergap {
  margin-bottom: 40px;
  margin-top: 20px;
}

.dropdown {
  margin-top: 15px;
}
