.title2 h2 {
  font-family: monospace;
  margin-left: 12px;

}

.tripgap {
  margin-bottom: 30px;
}

.footergap {
  margin-bottom: 40px;
  margin-top: 20px;
}

.dropdown {
  margin-top: 15px;
}

.select {
  padding: 7px;
  border-radius: 3px;
}
